#pip install -r requirements.txt

boto
certifi
chardet
cycler
dataclasses
future
glob
idna
kiwisolver
matplotlib
mediapipe
numpy
opencv-python
openpifpaf
pandas>=1.1.1
Pillow
pyparsing
pysparkling
python-dateutil
python-json-logger
pytz
requests
scipy
six
scipy
scikit-learn
torch>=1.6.0
torchvision>=0.7.0
urllib3==1.26.5
