<!DOCTYPE html>
<html>
<head>
    <title>Fall Detector</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Fall Detector</h1>
    <button id="run-button">Run Fall Detector</button>

    <script>
        $(document).ready(function() {
            $('#run-button').click(function() {
                $.get('/run_fall_detector', function(response) {
                    console.log(response);
                });
            });
        });
    </script>
</body>
</html>
